{% extends "padre.html" %}

{% load static %}

{% block titulo %}
<h1> Libros </h1>

{% endblock %} 

{% block subtitulo %}

<h3>{{ mensaje }}</h3>

{% endblock %}

{% block contenido_que_cambia %}

<ul>
    <h1>Listado de libros</h1>

    {% for libro in libros %}
    <li>{{ libro.titulo }} - {{ libro.autor }}</li>

    <a class="btn btn-danger" href="{% url 'eliminarlibro'  libro.id  %}">Eliminar </a>
    <a class="btn btn-success" href="{% url 'editarlibro'  libro.id  %}">Editar</a>

    {% endfor %}

</ul>

<a class="btn btn-primary" href="{% url 'librosformulario'  %}">Agregar Libro</a>



<h3> Busqueda de Titulos </h3>

<form action="{% url 'buscarlibro' %}" method="GET"> {% csrf_token %}


    <input type="text" name="titulo" id="titulo" placeholder="Titulo del libro">

    <input type="submit" value="Buscar">

</form>

{% endblock %}

<!-- <h1>{{ mensaje }}</h1> -->
<!-- <form action="{% url 'libros' %}" method="POST"> {% csrf_token %} 
 <P> Titulo <input type="text" name="titulo"></P>
 <P> Autor <input type="text" name="autor"></P>
 <P> Codigo <input type="number" name="codigo"></P>
 <input type="submit" value="Guardar Libro">
</form> -->