{% extends "padre.html" %}

{% load static %}

{% block titulo %}
<h1> Resultado de busqueda de Libros </h1>

{% endblock %} 

{% block contenido_que_cambia %}

{% if libros %}

<h2>Listado de Libros disponibles</h2>
{% for libro in libros %}

<h3>{{ libro.titulo }} - {{ libro.autor }} - {{ libro.codigo }}</h3>

{% endfor %}

{% else %}

<h2>No hay libros disponibles con ese titulo</h2>

{% endif %}

<form action="{% url 'buscarlibro' %}" method="GET"> {% csrf_token %}


    <input type="text" name="titulo" id="titulo" placeholder="Titulo del libro">

    <input type="submit" value="Buscar">

</form>

{% endblock %}