{% extends "padre.html" %}

{% load static %}

{% block titulo %}
<h1> Resultado de busqueda de Empleados </h1>

{% endblock %} 

{% block contenido_que_cambia %}

{% if empleados %}

<h2>Listado de Empleados</h2>
{% for empleado in empleados %}

<h3>{{ empleado.nombre }} - {{ empleado.apellido }} - {{ empleado.email }}</h3>

{% endfor %}

{% else %}

<h2>No hay empleados con ese nombre</h2>

{% endif %}

<form action="{% url 'buscarempleado' %}" method="GET"> {% csrf_token %}


    <input type="text" name="nombre" id="nombre" placeholder="Nombre del empleado">

    <input type="submit" value="Buscar">

</form>

{% endblock %}